.degreesFr{
    .degreeName{
        font-weight: bold;
    }
    .bts{
        position: relative;
        top: 20px;
    }
    .bac{
        position: relative;
        top: 30px;
    }
    .brevet{
        position: relative;
        top: 40px;
    }
}