.eCovid{
    .firstPart{
        position: relative;
        top: 5px;
    }
    .secondPart{
        position: relative;
        top: 20px;
    }
    .thirdPart{
        position: relative;
        top: 30px;
    }
}