.info_eng{
    .userName{
        padding: 3em 0em 1em;
    }
    .shortInfo{
        padding: 0em 0em 1em;
    }
    .infoUser{
        padding: 0em 0em 1em;
    }
    .infoLanguage{
        position: relative;
        top: 90px;
        padding: 0em 0em 1em;
    }
    .interests{
        position: relative;
        top: 90px;
        padding: 0em 0em 1em;
    }
    .reading{
        padding: 0em 0em 1em;
    }
    .globalSkills{
        padding: 0em 0em 1em;
    }
    .projectExample{
        padding: 0em 0em 1em;
    }
    span.adress{
        position: relative;
        top: 32px;
        right: 18em;
    }
    span.birth{
        position: relative;
        top: 65px;
        right: 43.2em;
    }
    span.licence{
        position: relative;
        top: 100px;
        right: 53.5em;
    }
    span.phone{
        position: relative;
        top: 100px;
        right: 0em;
    }
}