.prvt{
    .firstPart{
        position: relative;
        top: 5px; 
    }

    .thirdPart{
        position: relative;
        top: 20px; 
    }
    .forthPart{
        position: relative;
        top: 20px; 
    }
}